</div>
      </div>
  </div>
  <footer>
    <p class="text-center">Albumz &copy; 2017, Theerut Foongkiatcharoen. All Rights Reserved</p>
  </footer>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="/js/main.js"></script>
</body>
</html>
